<!-- https://www.w3.org/TR/css-grid-1/ -->
<!-- https://gridbyexample.com/examples/ -->
<!-- https://www.smashingmagazine.com/2017/06/building-production-ready-css-grid-layout/ -->
<!-- https://gridbyexample.com/examples/page-layout/ -->
<!-- https://www.freecodecamp.org/news/intro-to-css-grid-layout/ -->
<!-- https://www.tutorialrepublic.com/css-tutorial/css-get-started.php -->




   

<div class="wrapper">
    <header>HEADER Changed</header>

    <!-- <nav>NAV</nav> -->
    <div>
      <div class="contentsWrapper">
        <div>
          <pre>
            {{htmlString}}
            </pre>
            
          
      </div>
        <div>CSS</div>
        <div>
          <div class="exampleGrid">
            <div>First</div>
            <div>Second</div>
          </div>
        </div>
  
        <div>HTML</div>
        <div>CSS</div>
        <div>
          <div class="exampleGrid1">
            <div>First</div>
            <div>Second</div>
          </div>
        </div>
  
        <div>HTML</div>
        <div>CSS</div>
        <div>Grid</div>
  
        <div>HTML</div>
        <div>CSS</div>
        <div>Grid</div>
  
      </div>
  
    </div>
    <!-- <aside>ASIDE</aside> -->
    <footer>FOOTER</footer>
  </div>
